@import "https://www.nerdfonts.com/assets/css/webfont.css";
@import "src/navbar.css";

body,
.main-bg {
  background-color: #f9fafb;
  margin: 0;
  padding-top: 0;
}
.product-images {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 32px;
}
.product-img {
  width: 400px;
}

.logo-img {
  width: 150px;
  display: block;
  margin: 0 auto;
}

.product-description {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.125rem;
  color: #6b7280;
}